@page
@model ProyectoExamen2GBR.Pages.PersonalizarPizzaModel
@{
    ViewData["Title"] = "PersonalizarPizza";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/border-radius.css" />
    <style>
        .bs-example {
            margin: 20px;
        }

        * {
            box-sizing: border-box;
        }

        /* Create three equal columns that floats next to each other */
        .columnTitle {
            float: left;
            width: 33.33%;
            padding: 10px;
        }

        /* Create three equal columns that floats next to each other */
        .column {
            float: left;
            width: 33.33%;
            padding: 10px;
            height: 500px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>
<body>

    <h2>Personalización de la pizza</h2>
    <form method="post">
        <div class="row">
            <div class="columnTitle" style="background-color:#FFA500;">
                <h2>Tamaño de la Pizza</h2>
            </div>
            <div class="columnTitle" style="background-color:#FF8C00;">
                <h2>Ingredientes tradicionales</h2>
            </div>
            <div class="columnTitle" style="background-color:#FF4500;">
                <h2>Ingredientes Secundarios</h2>
            </div>
        </div>

        <div class="row">
            <div class="column" style="background-color:#FFF8DC;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Seleccione el tamaño de la pizza:</h4>
                            <div class="form-group">
                                <label class="d-block">
                                    <input type="radio" class="mr-1" name="Tamano"> Pequeño
                                </label><br />
                                <label class="d-block">
                                    <input type="radio" class="mr-1" name="Tamano"> Mediano
                                </label><br />
                                <label class="d-block">
                                    <input type="radio" class="mr-1" name="Tamano"> Grande
                                </label><br />
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>

            </div>
            <div class="column" style="background-color:#FFEBCD;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Seleccione los ingredientes tradicionales</h4>
                            <h4>que desee:</h4>
                            <div class="checkbox">
                                <label for="">
                                    <input type="checkbox" name="Ing1" />
                                    Salsa de tomate
                                </label>
                            </div>
                            <div class="checkbox"><label><input type="checkbox" name="Ing1" />Queso</label></div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>
            <div class="column" style="background-color:#FFE4C4;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Seleccione los ingredientes secundarios</h4>
                            <h4>que desee:</h4>
                            <div class="checkbox">
                                <label for="">
                                    <input type="checkbox" name="Ing2" />
                                    Salsa blanca
                                </label>
                            </div>

                            <div class="checkbox"><label for=""><input type="checkbox" name="Ing2" />Peperoni</label></div>
                            <div class="checkbox"><label for=""><input type="checkbox" name="Ing2" />Cebolla</label></div>
                            <div class="checkbox"><label for=""><input type="checkbox" name="Ing2" />Carne</label></div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success" href="/">Consultar precio</button>
    </form>
</body>
</html>


